body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4CAF50;
    padding: 30px;
    color: white;
  }
  
  .section-header {
    display: flex;
    align-items: center;
    background-color: #3F51B5;
    padding: 20px;
    color: white;
  }
  .about-section {
    display: flex;
    align-items: center;
  }
  
  .about-section div {
    flex: 1;
  }
  
  .profile-image {
    margin-left: 20px; /* Adjust the margin as needed */
  }
/* Center the content */
div[align="center"] {
  text-align: center;
}

/* Style the image */
img[align="right"] {
  width: 340px;
  height: 340px;
  margin-left: 20px;
}

/* Style the social links */
#social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#social-links a {
  margin: 0 10px;
}

#social-links img {
  width: 80px;
  height: 75px;
}
  
  .footer {
    padding: 20px;
    color: white;
    text-align: center;
  }